:root {
    --primary-text-color: #FFFFFF;
    --selected-color: #2196F3;
    --main-black-color: #212121;
    --links-gray: #757575;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --time: 250ms;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--links-gray);
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    /* outline: 1px solid red; */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.no-top-padding {
    padding-top: 0;
    padding-bottom: 94;
}

.no-bot-padding {
    padding-bottom: 0;
}

.custom-top-padding {
    padding-top: 50px;
}

img {
    display: block;
}

h1,h2,h3,p,ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.logo {
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    color: var(--selected-color);
    text-decoration: none;
}
.logo-footer {
    margin-right: 0;
    margin-bottom: 20px;
}

/* Separate color for logo in head*/
.logohead-second-color {
    color: #000000;
}

/* Separate color for logo in footer */
.logofooter-second-color {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--primary-text-color);
}


/* Header formating */
.header-nav {
    display: flex;
}


.header-nav-item:not(:last-child) {
    margin-right: 50px;
}
.header-border {
    border-bottom: 1px solid #ECECEC;
}
.nav-link-color::after {
    position: absolute;
    display: inline-flex;
    content: "";
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--selected-color);
}


.head-contacts {
    margin-left: auto;
    display: flex;
    
}


.head-contacts .item:not(:last-child) {
    margin-right: 50px;
    
}

.header-formating {
    
    display: flex;
    align-items: center;
    
    
}

/* Fonts for head list */
.nav-link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--main-black-color);
    text-decoration: none;
    transition: color var(--time) var(--cubic);
}

.nav-link:hover, 
.nav-link:focus {
    color: var(--selected-color);
}
.nav-link-color {
    color: var(--selected-color);
}

   
/* Head contacts */

.head-contacts-link {
    display: inline-flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--links-gray);
    text-decoration: none;
    transition: color var(--time) var(--cubic);
}
.head-contacts-link:hover,
.head-contacts-link:focus {
    color: var(--selected-color);
}


.contact-icon {
    fill: var(--links-gray);
    margin-right: 10px;
    transition: fill var(--time) var(--cubic);
}
.head-contacts-link:hover .contact-icon,
.head-contacts-link:focus .contact-icon {
    fill: var(--selected-color);
}



.main-header {
    width: 696px;
    margin-bottom: 30px;
}

.main-header-bg {
    max-height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)
        ),
        url("../images/header.jpg");
    background-color: #C4C4C4;;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

/* Fonts for h1 */

h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.button-order {
    display: inline-block;
    text-align: center;
    align-items: center;
    font-weight: 700;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    font-size: 16px;
    line-height: 1.87;
    background-color: var(--selected-color);
    color: var(--primary-text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color var(--time) var(--cubic),
    box-shadow var(--time) var(--cubic);
}

.button-order:hover,
.button-order:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #188CE8;
}

/* Modal window */



.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity var(--time) var(--cubic);
}
.backdrop.is-hidden {
    /* visibility: hidden; */
    opacity: 0;
    pointer-events: none;
    
    
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
    
}

.modal {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;
     background-color: var(--primary-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--time) var(--cubic);
}

.modal-form {
    
    width: 448px;
}


.modal-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-text-color);
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    cursor:pointer;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.modal p {
    margin-top: 40px;
    margin-bottom: 30px;
}


.icon-close {   
    width: 11px;
    height: 11px;
    fill: black;
    margin: 0;
    padding: 0;
    transition: fill var(--time) var(--cubic);
}

.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
    fill: var(--selected-color);
}


.modal-description {
    font-size: 20px;
    line-height: 1.15;
    margin-left: auto;
    margin-right: auto;
    color: var(--main-black-color);

}



.form-area {
    position: relative;
    display: flex;
}


.form-area:nth-child(-n+4) {
    margin-bottom: 28px;
}


.form-input {
    display: block;
    padding-left: 42px;
    padding-right: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--time) var(--cubic);

}

.form-input:focus {
    outline: none;
    border-color: var(--selected-color);
    
}

.form-input:focus+.form-icon {
    fill: var(--selected-color);
}

.form-icon {
    position: absolute;
    top: 14px;
    left: 15px;
    bottom: 14px;
    width: 18px;
    height: 18px;
    transition: fill var(--time) var(--cubic);
}

.modal-form textarea {
    padding: 0;
    resize: none;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 10px;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--time) var(--cubic);
}

.modal-form textarea:focus {
    outline: none;
    border-color: var(--selected-color);
}

.modal-form textarea::placeholder {
    
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.agreement {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.agreement-position {
    margin-top: 20px;
}
.form-area-agreement {
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
    line-height: 1.71;
}
.form-area-agreement > span {
    position: relative;
}

.agreement-icon {
    position: absolute;
    
    left: 0;
    top: 0;
    transform: translateX(calc(-100% - 4px));
    
    width: 16px;
    height: 15px;
    
    border: 2px solid var(--main-black-color);
    border-radius: 2px;
    fill: var(--primary-text-color);
    transition: background-color var(--time) var(--cubic),
    border-color var(--time) var(--cubic);
    
}
.agreement:checked~.agreement-icon {
    background-color: var(--selected-color);
    border-color: var(--selected-color);
}

.form-title {
    position: absolute;
    transform: translateY(calc(-100% - 4px));
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--links-gray);
}





.modal-form a {
    color: var(--selected-color);
}

.modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    height: 50px;

    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    

    background: var(--selected-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--selected-color);
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 1.87;   
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    cursor: pointer;
    transition: background-color var(--time) var(--cubic);
}
.modal-button:hover,
.modal-button:focus {
    background-color: #188CE8;
    
}

/* Fonts for h2 Index */
.secondary-header {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--main-black-color);
}

/* Fonts for h3 Section 2 in Index */
.specifications-header-style {
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--main-black-color);
}
/* Fonts for p Section 2 */
.specification-title {
    font-weight: 400;
    line-height: 1.71;
    color: var(--links-gray);
}
/* Section 2 formating */

.specification-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.specification-list .item {
   
    max-width: 270px;
    
}

.specification-list .item:nth-child(n+5) {
    margin-top: 30px;
}


.spec-container {
    display: flex;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    background: #F5F4FA;
    border-radius: 4px;
}


/* Field of activity section Index */
.field-activity-section {
    margin-bottom: 94px;
}

/* Section 3 formating */
.activity-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.activity-list .item:nth-child(n+4) {
    margin-top: 30px;
}

.activity-description {
    position: absolute;
    display: inline-flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    background-color: rgba(47, 48, 58, 0.8);
}
.activity-image {
    position: relative;
    display: flex;
}

/* Staff section Index */

.staff-style {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.staff-section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}
.staff-list {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Fonts for h3 Section 4 */
.staff-title {
    font-weight: 500;
    font-size: 16px;
    color: var(--main-black-color);
}

/* Fonts for p Section 4 */
.staff-descript {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
}

.staff-container {
    max-width: 270px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 32px;
    margin-right: 32px; 
}

.social-list {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    width: 44px;
    height: 44px;
    transition: background-color var(--time) var(--cubic);
            
}

.social-links:hover,
.social-links:focus {
    background-color: var(--selected-color);
    
}
.social-links:hover .social-icon,
.social-links:focus .social-icon {
    fill: #FFFFFF;
    
}

.social-icon {
    display: inline-flex;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill var(--time) var(--cubic);
    
}
.clients-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients-icon {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    transition: fill var(--time) var(--cubic);
}
.clients-links {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border var(--time) var(--cubic);
}

.clients-links:hover .clients-icon,
.clients-links:focus .clients-icon {
    fill: var(--selected-color);
}
.clients-links:hover,
.clients-links:focus {
    border: 1px solid var(--selected-color);
}

/* Filter Buttons styles */

.filter-list {
    display: flex;
    justify-content: center;
}

.filter-list .item:not(:last-child) {
    margin-right: 8px;
}

.filter-buttons-styles {
    display: inline-block;
   padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border-style: none;
    border-radius: 4px;
    background-color: #F5F4FA;
    color: var(--main-black-color);
    cursor: pointer;
    transition: background-color var(--time) var(--cubic),
                box-shadow var(--time) var(--cubic),
                color var(--time) var(--cubic);
}

/* Buttons styles hover */
.filter-buttons-styles:hover,
.filter-buttons-styles:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--selected-color);
    color: var(--primary-text-color);
}

/* Portfolio formating */
.portfolio-list {
display: flex;
flex-wrap: wrap;
gap: 30px;
}

/* Fonts for p Porfolio */
.portfolio-descript {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--links-gray);


}

/* Fonts for h3 Porfolio */
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-black-color);
}

.portfolio-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}


/* Cards in Porfolio */

.portfolio-cards {
box-sizing: border-box;

}
.portfolio-cards-link {
   
    display: block;
    transition: box-shadow var(--time) var(--cubic);
}
.portfolio-cards-link:hover,
.portfolio-cards-link:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-cards-link:hover .portfolio-overlay-description,
.portfolio-cards-link:focus .portfolio-overlay-description {
    
    transform: translateY(0);
    
}



.portfolio-overlay {
    position: relative;
    overflow: hidden;
    
}

.portfolio-overlay-description {
    position: absolute;
    display: inline-flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform var(--time) var(--cubic);

    padding-top: 63px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 63px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background: rgba(33, 150, 243, 0.9);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.portfolio-cards a {
    text-decoration: none;
}

/* Footer style */
.footer-style {
    background-color: #2F303A;
    
}

/* Footer contacts */
.footer-contacts-link {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color var(--time) var(--cubic);
}
.footer-contacts-link:last-child {
    margin-top: 9px;
   
}


.footer-contacts-link:hover,
.footer-contacts-link:focus {
    color: var(--selected-color);
}
.footer-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-text-normal {
    font-style: normal;
}

.footer-formating {
    display: flex;
    align-items: baseline;
    
   
}
.footer-soc-list {
    display: flex;
    
    
    
   
}
.footer-soc-container {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.footer-soc-container p {
    margin-bottom: 20px;
}

.footer-soc-container li:not(:last-child) {
    margin-right: 10px;
}


.social-links-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--time) var(--cubic);

}
.social-links-footer:hover,
.social-links-footer:focus {
    background-color: var(--selected-color);
}
.social-icon-footer {
    display: inline-flex;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}
.text-connect {
    text-transform: uppercase;
    color: #FFFFFF;
}

footer form p {
    margin-left: 93px;
}

.form-area-footer {
    display: inline-flex;
    margin-left: 93px;
    margin-top: 20px;
}
.form-input-footer {
    padding-left: 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color:  #2F303A;
    color: var(--primary-text-color);
}
.form-input-footer::placeholder {
    padding-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.button-footer {
    display: inline-flex;

    margin-left: 12px;
    padding-left: 29px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;

    outline: none;
    min-width: 200px;
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--selected-color);
    background-color: var(--selected-color);
    cursor: pointer;
}

.button-footer::after {
    display: block;
    margin-left: 10px;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../images/iconplane.svg");
    background-size: contain;
}    


/* Adress */
.adress {
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

